/*
 * Custom
 */
.endpoint {
    border: 2px solid #ddd;
    padding: 12px;
    margin-bottom: 8px;
}
.endpoint .alert {
    margin-bottom: 0 !important;
}
.hide {
    display: none;
}
h3 {
    margin-top: 1em;
    margin-bottom: 1em;
}
.alert strong {
    color: #000 !important;
}
.container-fluid {
    margin-top: 60px;
}
